In [15]:
import pandas as pd
import numpy as np

In [16]:
crime = pd.read_csv('5대+범죄+발생현황_20240314004013.csv')

In [17]:
crime.head()

     시점  항목 범죄별(1) 범죄별(2) 자치구별(1) 자치구별(2) 데이터
0  2018  발생     합계     살인      합계     종로구   6
1  2018  발생     합계     살인      합계      중구   2
2  2018  발생     합계     살인      합계     용산구   1
3  2018  발생     합계     살인      합계     성동구   2
4  2018  발생     합계     살인      합계     광진구   7

In [21]:
crime['범죄별(1)'].unique()

array(['합계'], dtype=object)

In [24]:
crime['자치구별(1)'].unique()

array(['서울특별시'], dtype=object)

In [23]:
crime[crime['자치구별(1)']=='합계'] = '서울특별시'

In [26]:
crime.drop(columns='범죄별(1)',inplace=True)

In [27]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1250 entries, 0 to 1249
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시점       1250 non-null   object
 1   항목       1250 non-null   object
 2   범죄별(2)   1250 non-null   object
 3   자치구별(1)  1250 non-null   object
 4   자치구별(2)  1250 non-null   object
 5   데이터      1250 non-null   object
dtypes: object(6)
memory usage: 58.7+ KB

In [28]:
crime.to_csv('crime_tableau')